<div id="workarea" class="row-fluid">
    <div class="span3">
        <div class="box-content box-statistic">
            <h3 id="newOrders" class="title text-error"></h3>
            <small>New</small>

        </div>
        <div class="box-content box-statistic">
            <h3 id="approvedOrders" class="title text-success"></h3>
            <small>Approved</small>

        </div>
        <div class="box-content box-statistic">
            <h3 id="pendingOrders" class="title text-info"></h3>
            <small>Pending</small>

        </div>
    </div>
</div>